<div class="modal fade" id="login-modal">
    <div class="modal-dialog">
        <div class="v-cell">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="btn-dismiss" data-dismiss="modal"><i class="fa fa-close"></i></button>
                    <h5 class="modal-title">Login to your account</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="email" class="form-control round-input" placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <div class="login-password-input-container">
                            <input type="password" class="form-control round-input" placeholder="Create Password" />
                            <button><i class="fa fa-eye"></i></button>
                        </div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary btn-full" style="color: white; font-weight: 400;">Continue</button>
                    </div>
                    <p class="text-center" style="color: #92929d;">OR</p>
                    <div class="form-group">
                        <button class="btn btn-default btn-login btn-full">
                            <img src="/assets/images/google.png" class="Google">
                            Continue with Google
                        </button>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default btn-login btn-full">
                            <img src="/assets/images/fb.png" class="Google">
                            Continue with Facebook
                        </button>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <div style="margin: 16px 0;">
                        <a class="f-txt">Can't login?</a>
                        <span class="dot"></span>
                        <a class="f-txt">Sign up for new user?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>